<!--<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light px-5">   스크롤바 고정-->
<nav class="navbar sticky-top navbar navbar-expand-lg navbar-dark bg-dark px-5 d-flex justify-content-between">   <!--스크롤바 고정-->
  <a class="navbar-brand" href="{% url 'posts:list' %}">
      <i class="fab fa-instagram"> | Instagram</i>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if user.is_authenticated %}   <!--로그인 상태에 따라 출력되는 링크 변경-->
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div></div>
        <div class="navbar-nav">
            <li class="nav-item">
                <span class="navbar-text text-light">{{ user.username }} 님 반갑습니다.</span>
            </li>                     <!--하얀 글자-->
        </div>
        <div class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'posts:create' %}" class="nav-link">New</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'posts:explore' %}" class="nav-link">Explore</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'people' user.username %}" class="nav-link">MyPage</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a>
            </li>
        </div>
    </div>
  {% else %}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'accounts:login' %}" clas="nav-link">Login</a>   <!--로그인-->
        </li>
        <li class="nav-item">
          <a href="{% url 'accounts:signup' %}" clas="nav-link">Signup</a>   <!--회원가입-->
        </li>
      </div>
    </div>
  {% endif %}
</nav>