{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

{% if request.resolver_match.url_name == 'create' %}
    <h1>NEW</h1>
{% else %}
    <h1>EDIT</h1>
{% endif %}

<form method="POST" enctype="multipart/form-data">   <!--static 파일-->
    {% csrf_token %}
    <!--{{ form.content }}-->
    {% bootstrap_form post_form %}
    
    {% if image_form %}   <!--image form이 있을 때만 보여줌-->
        {% bootstrap_form image_form show_label=False %}   <!--bootstrap 적용함-->
    {% endif %}
    
    {% buttons %}
        <!--<button type='submit' class='btn btn-primary'>제출</button>   buttons submit='OK' reset='Cancel' class='btn btn-primary'-->
        <button type="submit" class='btn btn-primary'>Submit</button>
        <button type="reset" class='btn btn-outline-warning'>Cancel</button>   <!--방금 입력한 내용 삭제-->
        <a href="{% url 'posts:list' %}" class="btn btn-info">Back</a>   <!--button 안에 넣음-->
    {% endbuttons %}
    <!--<input type="submit" value="입력"/>-->
</form>

<!--<a href="{% url 'posts:list' %}">BACK</a>-->

{% endblock %}

