{"filter":false,"title":"requirements.txt","tooltip":"/190322_pjt08/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1553236112394,"hash":"76d4ca6b3f8574f51161730040c3492793ca3211"}