<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>검색어를 입력해주세요.</h2>
    <form action=https://www.google.com/search? target="_blank">  <!--form의 방향 지정-->
        <input type="text" name="q"/><br>   <!--이 녀석이 q=을 만든다-->
        <input type="submit" value="search"/>   <!--이 친구가 검색어를 제출한다-->
    </form>
</body>
</html>