<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
</head>
<body>
    <h1>Detail</h1>
    <h2>{{ student.id }}번 회원</h2>
    <hr>
    <p>이름 : {{ student.name }}</p>
    <p>이메일 : {{ student.email }}</p>
    <p>생일 : {{ student.birthday }}</p>
    <p>나이 : {{ student.age }}살</p>
    <a href="/students/{{ student.pk }}/edit/">수정</a>
    <a href="/students/{{ student.pk }}/delete/" onclick="return confirm('진짜 지울거야?')">삭제</a>
    <a href="/students/">홈으로</a>
</body>
</html>