<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student</title>
</head>
<body>
    <!--{% if age == 'unknown' %}-->
        <!--<h2>없는 인간입니다.</h2>-->
    <!--{% else %}-->
    <h1>이름 : {{ name }}</h1>
    <h2>나이 : {{ age }}</h2>
    <!--{% endif %}-->
    
    <!--<hr>-->
    
    <!--{{ teacher.address }}-->
    <!--{{ teacher.name }}-->
    <!--{{ teacher.age }}-->    <!--이렇게 직접 불러올 수도 있다-->
</body>
</html>