{% extends 'boards/base.html' %}

{% load static %}

{% block body %}
    <div class="container">
        <h1>Index</h1>
        <img src="{% static 'boards/favorite.jpg' %}" alt="image">
        <img src="{% static 'favorite.jpg' %}" alt="image">
        <!--<a href="/boards/new/">글 작성하기</a>-->
        <a href="{% url 'boards:new' %}">글 작성하기</a>
        <hr>
        {% for board in boards %}
        
            <p>{{ board.pk }}</p>
            <p>{{ board.title }}</p>
            <p>{{ board.created_at | timesince }}</p>
            <!--<a href="/boards/{{ board.pk }}/">글 보러가기</a>-->
            <a href="{% url 'boards:detail' board.pk %}">글 보러가기</a>
            <hr>   <!--수평선 긋기-->
            
        {% endfor %}
    </div>
{% endblock %}