.big-box {
    position: relative;  /* 자식에게 absolute를 주면 부모를 기준으로 함 */
    margin: 100px auto 500px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
  }
  
  .small-box {
    width: 100px;
    height: 100px;
  }
  
  #red {
    background-color: red;
    /* position: relative;
    top: 400px;
    left: 400px; */
    position: absolute;  /* 이동하면 나머지가 한 칸씩 올라간다 */
    top: 400px;
    left: 400px;
  }
  
  #gold {
    position: fixed;
    background-color: gold;
    /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
    bottom: 50px;
    right: 50px;
  }
  
  #green {
    background-color: green;
    /* position: relative;
    top: 100px;
    left: 200px; */
    position: absolute;
    top: 200px;
    left: 200px;
  }
  
  #blue {
    background-color: blue;
    /* relative를 사용 */
    position: relative;
    top: 100px;
    left: 100px;
  }
  
  #pink {
    background-color: pink;
    /* position: relative;
    bottom: 500px; */
    position: absolute;
    top: 0px;
    left: 0px;
  }

  #purple {
    background-color: purple;
    /* position: relative;
    top: 100px;
    left: 300px; */
    position: absolute;
    top: 100px;
    left: 100px;
  }
/* 초록의 자식이므로 초록의 현재 위치를 기준으로 함 */

  #orange {
    background-color: orange;
    /* position: relative;
    left: 200px;
    bottom: 400px; */
    position: absolute;
    left: 100px;
    bottom: 100px;
  }  
/* 파랑의 자식이므로 파랑의 현재 위치를 기준으로 함 */
