{% extends 'movies/base.html' %}

{% block title %} INDEX  {% endblock %}

{% block body %}
    <h1>영화 목록</h1>
    <br>

    {% for movie in movies %}
        <div class="container">
            <!--<h3><a href="/movies/{{movie.pk}}/">{{ movie.title }}</a></h3>-->
            <h3><a href="{% url 'movie:detail' movie.pk %}">{{ movie.title }}</a></h3>
            <img src="{{ movie.poster_url }}"></img>
            <h2>종합평점 : {{ movie.score_avg }}</h2>
            <hr>
        </div>
    {% endfor %}

{% endblock %}