{% extends 'boards/base.html' %}
{% block body %}
{% load crispy_forms_tags %}

{% if request.resolver_match.url_name == 'create' %}
    <h1>NEW board</h1>
{% else %}
    <h1>EDIT board</h1>
{% endif %}

<!-- 1 -->
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit"/>
</form>

<!-- 2 -->
<!--<form method="POST">-->
<!--    {# csrf_token #}-->
<!--    {# form.title #}-->
<!--    {# form.content #}-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->

<!-- 3 -->
<!--<form method="POST">-->
<!--    {# csrf_token #}-->
<!--    {# for field in form #}-->
<!--        {# field.errors }}-->
<!--        {# field.label_tag #} {# field #}-->
<!--    {# endfor %}-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->

<!-- 4 -->
<!--{# form.non_field_errors #}-->
<!--<form method="POST">-->
<!--    {# csrf_token #}-->
<!--    <div class="col-4">-->
<!--        {# form.title.errors #}-->
<!--        {# form.title.label_tag #}-->
<!--        {# form.title #}-->
<!--    </div>-->
<!--    <div>-->
<!--        {# form.content.errors #}-->
<!--        {# form.content.label_tag #}-->
<!--        {# form.content #}-->
<!--    </div>-->
<!--    <input type="submit" value="Submit"/>-->
<!--</form>-->

<!-- 5 -->
{# crispy form #}


























{% if request.resolver_match.url_name == 'create' %}
    <a href="{% url 'boards:index' %}">BACK</a>
{% else %}
    <a href="{% url 'boards:detail' board.pk %}">BACK</a>
{% endif %}

{% endblock %}