{"filter":false,"title":".gitignore","tooltip":"/Movies/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":2245,"scrollleft":0,"selection":{"start":{"row":118,"column":0},"end":{"row":118,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"state":"start","mode":"ace/mode/text"}},"timestamp":1557826185954,"hash":"078e2f11bcf1afb9cf73f5b1ac3fa68fc02f2cf3"}