{% extends 'movies/base.html' %}

{% block title %} DETAIL {% endblock %}

{% block body %}

    <div class="container">
        
        <h1>영화 제목 : {{ movie.title }}</h1>
        <h2>관객수 : {{ movie.audience }}</h2>
        <p>포스터 : <img src="{{ movie.poster_url }}" alt="{{ movie.title }}포스터"></img></p>
        <p>설명 : {{ movie.description }}</p>
        <p>장르 : {{ movie.genre.name }}</p>
        <hr>
        <a href="{% url 'movies:index' %}">[뒤로]</a>
        <a href="{% url 'movies:edit' movie.pk %}">[수정]</a>
        <form action="{% url 'movies:delete' movie.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제"/>
        </form>
        
    </div>

{% endblock %}

